<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>com.lmh.berry</string>
	<key>version</key>
	<integer>2</integer>
	<key>group_name_cn</key>
	<string>动画表情</string>
	<key>group_name_icon</key>
	<string>动画表情</string>
	<key>group_name_tw</key>
	<string>动画表情</string>
	<key>group_name_en</key>
	<string>Animate</string>
	<key>display_only</key>
	<integer>0</integer>
	<key>group_type</key>
	<integer>1</integer>
	<key>row</key>
	<integer>2</integer>
	<key>col</key>
	<integer>4</integer>
	<key>canDelete</key>
	<false/>
	<key>emoticons</key>
	<array>
		<dict>
			<key>chs</key>
			<string>1.gif</string>
			<key>cht</key>
			<string>1.gif</string>
			<key>gif</key>
			<string>1.gif</string>
			<key>png</key>
			<string>01.png</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>2.gif</string>
			<key>cht</key>
			<string>2.gif</string>
			<key>gif</key>
			<string>2.gif</string>
			<key>png</key>
			<string>02.png</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>3.gif</string>
			<key>cht</key>
			<string>3.gif</string>
			<key>gif</key>
			<string>3.gif</string>
			<key>png</key>
			<string>03.png</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>4.gif</string>
			<key>cht</key>
			<string>4.gif</string>
			<key>gif</key>
			<string>4.gif</string>
			<key>png</key>
			<string>04.png</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>5.gif</string>
			<key>cht</key>
			<string>5.gif</string>
			<key>gif</key>
			<string>5.gif</string>
			<key>png</key>
			<string>05.png</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>6.gif</string>
			<key>cht</key>
			<string>6.gif</string>
			<key>gif</key>
			<string>6.gif</string>
			<key>png</key>
			<string>06.png</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>7.gif</string>
			<key>cht</key>
			<string>7.gif</string>
			<key>gif</key>
			<string>7.gif</string>
			<key>png</key>
			<string>07.png</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>8.gif</string>
			<key>cht</key>
			<string>8.gif</string>
			<key>gif</key>
			<string>8.gif</string>
			<key>png</key>
			<string>08.png</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>9.gif</string>
			<key>cht</key>
			<string>9.gif</string>
			<key>gif</key>
			<string>9.gif</string>
			<key>png</key>
			<string>09.png</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>10.gif</string>
			<key>cht</key>
			<string>10.gif</string>
			<key>gif</key>
			<string>10.gif</string>
			<key>png</key>
			<string>10.png</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>11.gif</string>
			<key>cht</key>
			<string>11.gif</string>
			<key>gif</key>
			<string>11.gif</string>
			<key>png</key>
			<string>11.png</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>12.gif</string>
			<key>cht</key>
			<string>12.gif</string>
			<key>gif</key>
			<string>12.gif</string>
			<key>png</key>
			<string>12.png</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>13.gif</string>
			<key>cht</key>
			<string>13.gif</string>
			<key>gif</key>
			<string>13.gif</string>
			<key>png</key>
			<string>13.png</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>14.gif</string>
			<key>cht</key>
			<string>14.gif</string>
			<key>gif</key>
			<string>14.gif</string>
			<key>png</key>
			<string>14.png</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>15.gif</string>
			<key>cht</key>
			<string>15.gif</string>
			<key>gif</key>
			<string>15.gif</string>
			<key>png</key>
			<string>15.png</string>
			<key>type</key>
			<string>1</string>
		</dict>
	</array>
</dict>
</plist>
